body
{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
    color: #333333;
    font-family:"Georgia", serif;
}

.pub
{
  margin-bottom: 10px;
  /*Indentation for year*/
  margin-left: 10px;
}

.pubInfo
{
  display: table-cell;
  font-size: 95%;
}

.me
{
    font-weight: bolder;
    color: black;
}

.title
{
    /*font-weight: bolder;*/
    font-size:18px;
    color:rgb(145,20,20);
}

.venue
{
    color: gray;
}


.thumbnail
{
    float: left;
    margin-right: 20;
    border:1px solid #021a40;
    border-radius: 10px;
}

.award-icon
{
    margin-left:10;
    margin-right:5;
}

.award-text
{
    font-size:14px;
    vertical-align:text-top;
    color: #474747;
    text-decoration: underline;
}

/*.thumbnail:hover
{
    display: table-cell;
    float: left;
    margin-right: 20;
    border:3px solid rgb(145,20,20);
}*/

.authors
{
    /*color: #185A7C;*/
    color: #474747;
}

.type-tag
{
  font-size:14px;
  color: white;
  text-align: center;
  font-weight: bolder;
  padding-left: 7;
  padding-right: 7;
  border-radius: 5px;
}

.supp
{
  color: #474747;
  background-color: white;
}

h3
{
  color: #707070;
  margin-left: 15px;

}


a:link, a:visited
{
    color:rgb(145,20,20);
		text-decoration: none;
}

a:hover, a:active {
  	color:rgb(145,20,20);
  	text-decoration: underline;
}
